<ul>
  <li><b>Name:</b> <%= @params[:name] %></li>
  <li><b>Service selected:</b> <%= @params[:service] %></li>
  <li><b>Email address:</b> <%= @params[:email] %></li>
  <li><b>Contact number:</b> <%= @params[:phone] %></li>
</ul>
<h3>Query:</h3>
<pre>
  <%= @params[:query] %>
</pre>