<ul>
  <li><b>Name:</b> <%= @params[:name] %></li>
  <li><b>Address:</b> <%= @params[:address] %></li>
  <li><b>Contact Number:</b> <%= @params[:phone_number] %></li>
  <li><b>Email Address:</b> <a href="mailto:<%= @params[:email] %>"><%= @params[:email] %></a></li>
  <li><b>Education:</b> <%= @params[:education] %></li>
  <li><b>Current status(Job or Business):</b> <%= @params[:current_status] %></li>
</ul>
