<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Surrya Life</title>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<div id="wrapper">
  <div id="menu">
    <ul>
      <% 
        @current ||= :a_home
        tabs(@current).sort.each do |k, v|
       %>
       <li<%= " class=current_page_item" if v[2] %>><a href="<%= v[1] %>"><%= v[0] %></a></li>
       <% end %>
    </ul>
  </div>
  <!-- end #menu -->
  <div id="header">
    <div id="logo">
      <h1><a href="/"><i>life</i></a></h1>
      <p>RIGHT CONSULTANT FOR YOU!</p>
    </div>
  </div>
  <!-- end #header -->
  <div id="page">
  <div id="page-bgtop">
  <div id="page-bgbtm">
    <div id="content">
      <%= yield %>
      
    <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #content -->
    <div id="sidebar">
      <ul>
        <li>
          <div id="search" >
          <form method="get" action="results.jsp">
            <div>
              <input type="text" name="q" id="search-text" value="" />
              <input type="submit" id="search-submit" value="Search" />
            </div>
          </form>
          </div>
          <div style="clear: both;">&nbsp;</div>
        </li>
        <!--li>
          <h2>Aliquam tempus</h2>
          <p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
        </li-->
        <li>
          <h2>Best of Surrya Life</h2>
          <ul>
            <li><a href="/contact?service=Buy+Business+leadership+ebook">Business leadership ebook @ 1200 rupees only</a></li>
            <li><a href="/contact?service=60+ways+to+earn+online">60 ways to earn online ebook @ 900 rupees only</a></li>
            <li><a href="/contact?service=Business+Winner">Business winner -excellent online training.</a></li>
            <li><a href="advertising.html">Creative ad making and marketing.</a></li>
            <!-- li><a href="projects.html">New projects</a></li -->
            <li><a href="/contact?service=New+Business+Opportunities">New Business Opportunities</a></li>
            <!-- li><a href="/contact?service=Patent+and+Trademark+registration">Patent and Trademark Registration</a></li -->
          </ul>
        </li>
        <!--li>
          <h2>Blogroll</h2>
          <ul>
            <li><a href="#">Aliquam libero</a></li>
            <li><a href="#">Consectetuer adipiscing elit</a></li>
            <li><a href="#">Metus aliquam pellentesque</a></li>
            <li><a href="#">Suspendisse iaculis mauris</a></li>
            <li><a href="#">Urnanet non molestie semper</a></li>
            <li><a href="#">Proin gravida orci porttitor</a></li>
          </ul>
        </li-->
        
      </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
  </div>
  </div>
  </div>
  <!-- end #page -->
</div>
  <div id="footer">
    <p>Copyright (c) 2014 SurryaLife.com. All rights reserved. Design by <a target=_blank href="http://www.rubydubee.com">Pradyumna Dandwate</a> .</p>
    <p><a href="/terms.html">Read our Legal Notice, Terms and Conditions</a></p>
  </div>
  <!-- end #footer -->
</body>
</html>
